<style>
  /* Style for the navigation buttons */
  .nav-item {
      color: #fff; /* Text color */
      background-color: #000000; /* Background color */
      padding: 2px 5px; /* Padding */
      margin: 5px; /* Margin */
      border-radius: 5px; /* Rounded corners */
      text-decoration: none; /* Remove underline */
      transition: background-color 0.2s; /* Smooth transition for background color */
  }

  /* Hover effect for the navigation buttons */
  .nav-item:hover {
      background-color: #101010; /* New background color on hover */
      text-shadow: 0 0 5px #000; /* Text shadow on hover */
  }

  /* Active button style (if needed) */
  .nav-item.active {
      background-color: #333; /* Change background color for the active button */
  }
</style>

<div class="text-center">
  <img src="https://sgtradex.com/images/sgtradex-logo.svg" alt="SGTD Image" class="img-fluid center-image" style="width: 10rem">
</div>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/table_view">Table View</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/vessel_request/Redirect from Vessel Map">Vessel Query</a>
  </li>
  <li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/UCC_upload">Triangular Module</a>
</li>
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
  </li>
</ul>

  <div style="font-weight: bold; text-decoration: underline; color: rgb(223, 55, 4);">IMO NOT FOUND: {{ IMO_NOTFOUND }} </div>