<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register page</title>
  <div class="text-center">
    <img src="static/SGTRADEX LOGO.png" class="img-fluid" alt="Your Image">
  </div>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
    <div class=" row justify-content-center">
        <div class="col-sm-6 mt-4">
            <h2>Register form</h2>
            <form action="/register" method="POST">
                <div class="form-group">
                <label for="username_">Email:</label>
                <input type="email" required class="form-control" id="username_" placeholder="Enter email" name="username_">
                </div>
            
                <div class="form-group">
                <label for="password_">Password:</label>
                <input type="password" required class="form-control" id="password_" placeholder="Enter password" name="password_">
                </div>

                <div class="form-group">
                <label for="api_key_">API Key:</label>
                <input type="text" required class="form-control" id="api_key_" placeholder="Enter SGTD pitstop API KEY" name="api_key_">
                </div>


                <div class="form-group">
                <label for="participant_id_">Participant ID:</label>
                <input type="text" required class="form-control" id="participant_id_" placeholder="Enter SGTD pitstop Participant ID" name="participant_id_">
                </div>

                <div class="form-group">
                <label for="on_behalf_id_">On behalf ID:</label>
                <input type="text" required class="form-control" id="on_behalf_id_" placeholder="Enter SGTD pitstop On Behalf Of Id" name="on_behalf_id_">
                </div>

                <div class="form-group">
                <label for="gsheet_cred_path_">Gsheet cred path:</label>
                <input type="text" required class="form-control" id="gsheet_cred_path_" placeholder="Enter gsheet_cred_path_" name="gsheet_cred_path_">
                </div>

                <div class="form-group">
                <label for="pitstop_">Pitstop URL:</label>
                <input type="url" required class="form-control" id="pitstop_" placeholder="Enter Pitstop URL" name="pitstop_">
                </div>

                <div class="form-group">
                <label for="company_">Company:</label>
                <input type="text" class="form-control" id="company_" placeholder="Enter Company Name" name="company_">
                </div>

                <button type="submit" class="btn btn-dark">Submit</button>
                <a href="/login" class="btn btn-primary">Login</a>
            </form>
        </div>
    </div>
  
</div>

</body>
</html>
